/*--Header Start--*/
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 1;
}
header div{
    float: left;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    margin-left:50px ;
    padding: 0px;
}
header .name{
    margin-left: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 20px;
    color: #F9F9FF;
}
header .nav{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 50px;
}
header .nav ul{
    list-style: none;
}
header .nav ul li{
    float: left;
    padding-right: 40px;
    padding-top: 30px;
}
header .nav ul li a{
    text-decoration: none;
    color: rgb(255, 247, 247);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box solid #fff;
    padding: 20px;
}
header .nav ul li a:hover{
    color: #7f97ff;
}
.checkbtn {
    display: none;
    font-size:30px;
    color: rgba(0,0,0, 0.9);
    float: right;
    padding-right: 30px;
    padding-top: 20px;
}
#check {
    display: none;
}

/* About Section Start */
section{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4),rgba(0,0,0,0.3)),url(/aboutbackground.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-width: 100px;
}
section .bg{
    padding-top: 100px;
}
section .bg h2{
    text-align: center;
    text-shadow: 0px 1px 10px #00ff4c;
    color: aliceblue;
    padding-top: 100px;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
section .text{
    padding-top: 40px;
}

section .text h1{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: rgba(243, 240, 240, 0.8);
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width:990px){
    header{
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        background-color: #000000;
        overflow: hidden;
        z-index: 1;
    }
    header .logo{
        align-items: center;
        width: 80px;
    }
    header .name{
        font-size: 70%;
        padding-top: 25px;
    }
    .checkbtn{
        display: block !important;
    }
    header .nav i{
        color: #fff;
    }
    header .nav ul{
        position: fixed;
        width: 50%;
        height: 55vh;
        background: #000000;
        top: 80px;
        left: -200%;
        text-align: center;
        transition: all .3s;
        transform-style: flat;
        font-family: 'Times New Roman', Times, serif;
    }
    header .nav ul li{
        line-height: 30px;
        clear: both;
        margin-top: 15px;
        text-align: center;
    }
    #check:checked ~ ul{
        left: 0;
        text-align: center;
    }
    header .nav ul li a{
        font-size: 18px;
        padding: 0 auto;
    }
}

@media (max-width:990px){
    header .nav ul{
        display: block;
    }
    section .ub1 div{
        display: block;
        text-align: center;
        width: 100px;
        padding: 20px;
    }
}